a {
  color:black;
  text-decoration: none;
}
#active {
  color: ;
}
.saw {
  color: gray;
}
h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 20px;
  border-color: gray;
}
ol{
  border-right: 1px solid gray;
  width : 150px;
  margin: 0;
  padding: 20px;
}
body {
  margin: 0;
}
#grid{
  display: grid;
  grid-template-columns: 200px 1fr;
}
#grid ol{
  padding-left: 33px;
}
#grid #article {
  padding: 10px;
  margin: 1px;
  margin-top: 0px;
}
@media(max-width:800px) {
  #grid{
    display: block;
  }
  ol{
    border-right: none;
  }
  h1{
    border-bottom: none;
  }
}
